/* image */

figure img{
    width: 90%;
    height: auto;
    margin: auto;
    border: solid 0.4rem #111111;
    border-radius: 1rem;
    background-color: #eaf0f2;
}

figure figcaption{
    font-size: 1.2rem;
    background-color: #c5c9ca;
    border: solid 0.4rem #111111;
    width: 90%;
    margin: 0 auto;
}

/* text boxes */

h2{
    margin: 0 0 0.6rem 0;
    color:#284d5d;
}

.box{
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1rem 1.5rem;
    width: fit-content;
    margin: auto;
    max-width: 40rem;
    border: solid 0.4rem #111111;
    border-radius: 1rem;
    background-color: #c5c9ca;
    color:#102c38;
}

section#AboutMe p.box{
    min-width: 20rem;
}

section{
    padding: 0.4rem 0;
    margin: auto;
    min-width: 25rem;
}

/* grid */

.center{
    margin: auto;
    padding-bottom: 2rem;
}

article{
    padding: 1.4rem 2rem;
    display: grid;
    grid-template-areas:
    "AboutMe"
    "figure"
    "contact";
    background: rgba(255, 255, 255, 0.082);
    margin: 0 2rem;
    align-self: center;
    height: fit-content;
    width: fit-content;
}

#AboutMe{
    grid-area: AboutMe;
    margin: auto;
}

#Contact{
    grid-area: contact;
    margin: 0 auto;
}

figure{
    grid-area: figure;
    margin: auto;
    padding: 1rem;
    width: 90%;
    text-align: center;
}