/* text boxes */

h2{
    margin: 0 0 0.6rem 0;
    color:#284d5d;
}

.box{
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1rem 1.5rem;
    width: min(40rem, fit-content);
    margin: auto;
    border: solid 0.4rem #111111;
    border-radius: 1rem;
    background-color: #c5c9ca;
    color:#102c38;
}

section#AboutMe p.box{
    min-width: 20rem;
}

section{
    padding: 0.4rem 0;
    margin: auto;
    min-width: 25rem;
}

/* grid */

.center{
    margin: auto;
    padding-bottom: 2rem;
}

article{
    padding: 1.4rem 2rem;
    display: grid;
    max-width: 80rem;
    grid-template-areas:
    "Education Qualifications"
    "Education Experience";
    background: rgba(255, 255, 255, 0.082);
    margin: 0 2rem;
    align-self: center;
    height: fit-content;
    width: fit-content;
    gap: 2rem;
}

#Education{
    grid-area: Education;
    margin: auto;
}

#Qualifications{
    grid-area: Qualifications;
    margin: auto;
}

#Experience{
    grid-area: Experience;
    margin: 0 auto;
}